### VisualStudioCode ###
.vscode/*
#!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

### VisualStudioCode Patch ###
# Ignore all local history of files
.history

### compilation directory
build/
dist/
*.spec

# ignore python compiled bytecode and application files
*.jar
*.pyc
*.log
*.xml

# ignore pcom & out files
*.txt
*.pcom
